
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.draw-card {
  margin-bottom:10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

img {
  max-width: 200px;  
  margin-bottom: 20px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h1{
  align-items: center;
  justify-content: center;
}